NODE_ENV=development
PORT=5000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB_NAME=database_name

# Auth
JWT_SECRET=your_jwt_secret_key_min_32_characters
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_min_32_characters
JWT_EXPIRES_IN=15m

# CORS
CORS_ORIGIN=http://localhost:5173

# Cloudinary (Get from https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

UPLOAD_DRIVER=local

# VNPay
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5173/payments/vnpay/return
VNPAY_IPN_URL=http://localhost:5000/api/payments/webhook

# MoMo
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=https://test-payment.momo.vn/gw_payment/transactionProcessor
MOMO_RETURN_URL=http://localhost:5173/payments/momo/return
MOMO_IPN_URL=http://localhost:5000/api/payments/webhook

# Payment gateway mode: mock | sandbox
PAYMENT_GATEWAY_MODE=mock
